/* https://codepen.io/nzbin/pen/GGrXbp */

.dot-flashing {
  --fg-color: #1f0f00;
  --bg-color: #bfaf1c;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--fg-color);
  animation: dotFlashing 0.5s infinite linear alternate;
  animation-delay: 0.25s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--fg-color);

  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--fg-color);
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--fg-color);
  }
  50%,
  100% {
    background-color: var(--bg-color);
  }
}
